#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
}

body {
  background: var(--gradient-color) no-repeat;
  background-attachment: fixed;
}

.gradient-text {
  background: var(--gradient-color);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

