#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

body {
  background: var(--gradient-color) no-repeat;
  background-attachment: fixed;
}

.gradient-text {
  background: var(--gradient-color);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}


/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Độ rộng thanh scroll */
  border-radius: 8px; /* Bo tròn */
}

/* Thanh cuộn track (background của scrollbar) */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 8px;
}

/* Thanh cuộn thumb (phần di chuyển) */
::-webkit-scrollbar-thumb {
  background: #888; /* Màu nền */
  border-radius: 8px;
}
