.chat-box {
  background-color: #dde5e8;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;

  .message {
    color: #333;
    text-align: left;
    font-weight: 400;
    padding: 10px 20px;
    margin: 4px 10px;
    border-radius: 20px;
    white-space: pre-line;
    max-width: 40%;
    overflow-wrap: break-word;

    &:first-child {
      margin-bottom: 16px;
    }
  }

  .by-user {
    align-self: end;
    color: #fff;
    background-image: var(--gradient-color);
  }

  .by-contact {
    align-self: start;
    color: #333;
    background-color: white;
    
  }
}

.send-box {
  display: flex;
  align-items: center;
  background: transparent;
  padding: 10px;
  
  .send-input {
    flex: 1;
    padding: 10px 15px;
    background-color: transparent;
    font-size: 1rem;
    color: #333;
    border: none;
    outline: none;
    resize: none;
    transition: all 0.3s ease-in-out;
  }

  .send-btn {
    color: rgb(85 200 244);
    border: none;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
    transform: all 0.3s ease-in-out;

    &:hover {
      opacity: 0.8;
    }
  }
}